<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html"
>
<head>
    <meta charset="UTF-8">
    <title>Agences</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="col-md-6">
        <div class="panel panel-default">
<div class="panel-heading">
Nouvelle Agence
</div>
            <div class="panel-body">
                <form th:action="@{/admin/save}" method="post">

                    <div class="form-group">
                        <label class="control-label">Nom Agence</label>
                        <input class="form-control" type="text" name="titleAgence" th:value="${agence.titleAgence}" required>
                        <span th:errors="${agence.titleAgence}"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Adresse</label>
                        <input class="form-control" type="text" name="adresseAgence" th:value="${agence.adresseAgence}" required>
                        <span th:errors="${agence.adresseAgence}"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Telephone</label>
                        <input class="form-control" type="text" name="telAgence" th:value="${agence.telAgence}" required>
                        <span th:errors="${agence.telAgence}"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Start Cap</label>
                        <input class="form-control" type="text" name="startCapAgence" th:value="${agence.startCapAgence}" required>
                        <span th:errors="${agence.startCapAgence}"></span>
                    </div>
                    <div  class="form-group">
                        <select name="societeAgence"   class="form-control" id="sl1"  required>
                            <option >Veuillez choisir une Societe</option>
                            <option th:each="a:${listSocietes}" th:text="${a.nomSociete}" th:value="${agence.societeAgence}" ></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Enregister</button>

                </form>
            </div>
        </div>

</div>

</div>
</body>
</html>